<div class="accordion-item mb-3">
    <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}"
            aria-expanded="false" aria-controls="{{ id }}">
            {{ category }}
        </button> 
    </h2>
    <div id="{{ id }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
        data-bs-parent="#dataAccordion">
        <div class="accordion-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {{ tabledata | safe }}
                </tbody>
            </table>
        </div>
    </div>
</div>